.services-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .service {
    display: flex;
    flex-wrap: wrap;

    &__tribute-container {
      $items-spacing: 10px;

      display: flex;
      flex-wrap: wrap;
      gap: $items-spacing;

      .tribute {
        flex-basis: calc(50% - #{$items-spacing});
      }
    }
  }

}